In [2]:
import pandas as pd
import numpy as np
from faker import Faker
import random
from datetime import datetime, timedelta

In [17]:
num_users = 1
start_date = "2023-01-01"
end_date = "2023-12-31"
output_file="bank_transactions.csv"

start_date = datetime.strptime(start_date, "%Y-%m-%d")
end_date = datetime.strptime(end_date, "%Y-%m-%d")

In [18]:
# 사용자 번호 리스트 생성
users_id = [f'user_{i+1}' for i in range(num_users)]

In [22]:
# 사용자별 고정 금액 할당
user_salaries = {user_id: np.random.randint(2500000, 5000000) for user_id in users_id}
loan_repayment = {user_id: np.random.randint(0, 500000) for user_id in users_id}

# 상시 입출금 항목 리스트 및 금액 범위
bankhistory_types = {
    '입금:보험금': (10000, 200000),
    '입금:배당금': (1000, 100000),
    '출금:용돈': (-500000, -50000)
}

In [20]:
# 데이터프레임 초기화
bankhistory_data = {
    'User_ID': [],
    'Date': [],
    'Transaction_Type': [],
    'Amount': [],
    'Fixed' : True
}

In [23]:
# 입출금 내역 생성
for user_id in users_id:
    
    # 초기 설정
    current_date = start_date

    while current_date <= end_date:

        # 매월 10일 월급 입금
        if current_date.day == 10:
            bankhistory_data['User_ID'].append(user_id)
            bankhistory_data['Date'].append(current_date)
            bankhistory_data['Transaction_Type'].append('입금:월급')
            bankhistory_data['Amount'].append(user_salaries[user_id])  # 미리 할당된 월급 금액
            bankhistory_data['Fixed'] = True
        
        # 매월 1일 대출금 고정출금
        if current_date.day == 1:
            bankhistory_data['User_ID'].append(user_id)
            bankhistory_data['Date'].append(current_date)
            bankhistory_data['Transaction_Type'].append('출금:대출상환')
            bankhistory_data['Amount'].append(-loan_repayment[user_id])  # 미리 할당된 금액
            bankhistory_data['Fixed'] = True
            # transaction_data['Amount'].append(-np.random.randint(500000, 2000000))  # 매번랜덤
        
        # 해당 월의 랜덤 입출금 내역 생성
        if current_date.day == 1:
            num_transactions = np.random.randint(0, 2)  # 한 달에 0 ~ 2건의 거래 발생
            for qty in range(num_transactions):
                lastday_of_month = (current_date.replace(month=current_date.month % 12 + 1, day=1) - timedelta(days=1)).day  # 월말일
                transaction_day = random.randint(1, lastday_of_month)  # 랜덤 날짜 선택
                transaction_date = current_date.replace(day=transaction_day)  # 랜덤day를 기반으로 datetime형식 저장
                transaction_type = random.choice(list(bankhistory_types.keys()))  # 항목 랜덤으로 뽑기
                amount_range = bankhistory_types[transaction_type]  # 거래 유형에 해당하는 금액 범위 가져오기
                amount = np.random.randint(amount_range[0], amount_range[1])  # 금액범위 내에서 랜덤금액 생성
                
                bankhistory_data['User_ID'].append(user_id)
                bankhistory_data['Date'].append(transaction_date)
                bankhistory_data['Transaction_Type'].append(transaction_type)
                bankhistory_data['Amount'].append(amount)
                bankhistory_data['Fixed'] = False

        current_date += timedelta(days=1)

In [24]:
# 데이터프레임 생성
bankhistory_df = pd.DataFrame(bankhistory_data)
bankhistory_df

   User_ID       Date Transaction_Type   Amount  Fixed
0   user_1 2023-01-01          출금:대출상환  -316885   True
1   user_1 2023-01-01          출금:대출상환  -405978   True
2   user_1 2023-01-17            출금:용돈  -169953   True
3   user_1 2023-01-10            입금:월급  3262059   True
4   user_1 2023-02-01          출금:대출상환  -405978   True
5   user_1 2023-02-10            입금:월급  3262059   True
6   user_1 2023-03-01          출금:대출상환  -405978   True
7   user_1 2023-03-10            입금:월급  3262059   True
8   user_1 2023-04-01          출금:대출상환  -405978   True
9   user_1 2023-04-10            입금:월급  3262059   True
10  user_1 2023-05-01          출금:대출상환  -405978   True
11  user_1 2023-05-10            입금:월급  3262059   True
12  user_1 2023-06-01          출금:대출상환  -405978   True
13  user_1 2023-06-10            입금:월급  3262059   True
14  user_1 2023-07-01          출금:대출상환  -405978   True
15  user_1 2023-07-10            입금:월급  3262059   True
16  user_1 2023-08-01          출금:대출상환  -405978   True
17  user_1 2023-08-31            출금:용돈  -342694   True
18  user_1 2023-08-10            입금:월급  3262059   True
19  user_1 2023-09-01          출금:대출상환  -405978   True
20  user_1 2023-09-18           입금:보험금    70210   True
21  user_1 2023-09-10            입금:월급  3262059   True
22  user_1 2023-10-01          출금:대출상환  -405978   True
23  user_1 2023-10-19           입금:보험금    49585   True
24  user_1 2023-10-10            입금:월급  3262059   True
25  user_1 2023-11-01          출금:대출상환  -405978   True
26  user_1 2023-11-10            입금:월급  3262059   True
27  user_1 2023-12-01          출금:대출상환  -405978   True
28  user_1 2023-12-21           입금:배당금    15378   True
29  user_1 2023-12-10            입금:월급  3262059   True

In [25]:
 # CSV 파일로 저장
bankhistory_df.to_csv(f'./data/{output_file}', index=False, encoding='cp949')